
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/Gruppe144.iml
output/production/Gruppe144/sample/Controller.class
output/production/Gruppe144/sample/Main.class
output/production/Gruppe144/sample/sample.fxml
